body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Verdana, sans-serif;
  cursor: url('./images/file.png'), auto;
  color: #000000;
}

.Meow {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: #fffcf4;
  width: 100vw; 
  height: 100vh;
  border-radius: 5px;
  color: #000000;
}

.h1box {
  text-align: center;
  padding: 20px;
  background-color: #9caf88;
  width: 80%; 
  max-width: 600px;
  height: auto;
  min-height: 150px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #000000;
}

h1:hover{
  color: #fffcf4;
  
}

.footer {
  font-family: Courier, monospace;
  background-color: #9caf88;
  padding: 10px 0;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}

.footer p {
  margin: 0;
  color: #333;
}

@media only screen and (max-width: 600px) {
  .h1box {
    width: 90%;
    font-size: 5vw; 
  }

  button.startbutton {
    font-size: 5vw;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .h1box {
    width: 80%;
    font-size: 4vw; 
  }

  button.startbutton {
    font-size: 4vw;
  }
}

.falling-cat {
  position: absolute;
  width: 50px;
  height: 50px;
  animation: fall 5s linear infinite;
}

@keyframes fall {
  0% {
    top: -50px;
    opacity: 100;
  }
  100% {
    top: 100vh;
    opacity: 0;
  }
}
